<!DOCTYPE html>
<html>
  <head>
    <title>Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
      <p>Hello, <%= current_user.name %>!
        <a href="/logout">Logout</a>
        <% else %>
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
        <% end %>
      </nav>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
      <%= yield %>
  </body>
</html>
